body {
    margin: 25px;
}

.char-image {
    width: 160px;
    height: 90px;
}

.choice {
    float: left;
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-color: green;
}

.characters, #enemy, #selected {
    /* margin: 25px; */
}

#enemy {
    background-color: red;
}

#defender {
    background-color: black;
    color: white;
}

h1 {
    text-align: right;
}