body {
    margin: 25px;
    background-image: url("../images/background.png");
    background-size: 100%;
    color: white;
}

.char-image {
    width: 160px;
    height: 90px;
}

.choice {
    float: left;
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-color: green;
}

.characters {
    background-color:#302f71;
}

#enemy {
    background-color: red;
}

#defender {
    background-color: black;
    color: white;
}

#dead {
    position: fixed;
    left: -10000px;
}

h1 {
    text-align: right;
}