.char-image {
    width: 160px;
    height: 90px;
}

.choice {
    float: left;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-color: green;
}

.characters {
    margin: 25px;
}

h1 {
    text-align: right;
}